// styles for the drop zone component in the blog form
.blog-form-wrapper {
  .filepicker {
    // border: dotted 2px $black;
    background-color: white;
    color: $black;
    border-color: $black;
  }
}